@import '../../variables';

.home {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 10rem;
  margin-top: 6rem;

  .left {
    flex: 2;
    min-width:29rem;
  }
  .right {
    flex: 1;
    min-width:20rem;
  }
 

}


h2{
  margin-bottom: 2rem;
}


@media(min-width:992px){
  .home{
    margin-top: 10rem;
  }
}