//colors
$background:#14161F;
$dark-text: #564741;
$light-text: #958b8a;
$main: #4caf50;
$secondary: #ffbb34;
$error:#f4695f;

//gradinet

$main-gradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.7) 0%,
  rgba(0, 0, 0, 0.4) 100%
);

// shadows

$btn-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
$card-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);